/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

:root {
	--backgroundcolor-leftpanel: #d4e4e7;
	--backgrountcolor-rightpanel: #faf6f6;
	--rulercolor: #000053;


}


html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;


}

html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

h1 {
	font-weight: 600;
	color: rgb(100, 98, 98);
}

hr {
	padding-left: 10px;
	margin-right: 20px;
	border: 2px solid var(--rulercolor);
	border-radius: 30px;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}


.container {

	font-weight: 400;
	display: flex;
	height: 100%;

}

.left-container {
	padding-left: 20px;
	padding-top: 20px;
	display: flex;
	flex-direction: column;
	gap: 40px;
	justify-content: flex-start;
	width: 300px;
	background-color: var(--backgroundcolor-leftpanel);

}

#avatarimage {
	height: 40px;
	border-radius: 50%;
	border: 2px solid #ff0000;
}

.lc-header {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}

.right-container {
	padding-top: 0px;
	background-color: var(--backgrountcolor-rightpanel);
	width: 100%;

}

.btn-wrapper,
.btn-projects {
	display: flex;
	justify-content: start;
	gap: 5px;
	align-items: center;
	font-weight: 600;
	font-size: 0.9rem;

}

.btn-container,
.btn-projects {
	border: 1px;
	background-color: var(--backgroundcolor-leftpanel);
	cursor: pointer;
	margin-right: 30px;
	transition: 0.3s;
}

#lc-todopanel-menu,
#lc-projectpanel-menu {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.btn-image {
	filter: invert(11%) sepia(87%) saturate(7464%) hue-rotate(0deg) brightness(92%) contrast(119%);

}

.lp-header {
	display: flex;
	align-items: center;
}

.lp-btn {
	border: 0;
	background-color: var(--backgroundcolor-leftpanel);
	cursor: pointer;
}

.btn-container:hover,
.btn-projects:hover {
	background-color: #b4b4e4;
	border-radius: 5px;
}

.formlayout,
.addproject {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	gap: 15px;
}

#description,
#projectname,
#editprojectname {
	font-size: 1rem;
}
.dialog-header,
.dialog-project-header,
.dialog-remove-project,
.dialog-remove-todo

 {
	text-align: center;
	font-size: 1.4rem;
	font-weight: 600;
    color: #000053;
	margin-bottom: 20px;
}

.dialog-row {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	
}

.dialog-edit-bottom {
	
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.delete-project {
	padding-top: 20px;
}

.dialog-btn,
.removeyesno,
.removeyesnotodo {

	display: flex;
	padding-top: 20px;
	justify-content: flex-end;
	gap: 5px;
}

#addtodo,
#addproject,
#editproject,
#removeproject,
#removetodo {
	border-radius: 15px;
	box-shadow: 10px 10px 15px -10px rgba(0, 0, 0, 0.75);
	border-color: 000053;
	margin-left: 30%;
	margin-top: 10%;
	width: 350px;
	position: absolute;
}

#removeproject,
#removetodo {
	margin-top: 30%;

}
#canceltodo,
#cancelproject,
#canceleditproject,
#sureno,
#surenotodo
{
	background-color: rgb(233, 228, 228);
	color: lightslategrey;
}

#savetodo,
#saveproject,
#saveeditproject,
#sureyes,
#sureyestodo {
	background-color: green;
	color: lightcyan;
}

.dialog-btn>button,
#sureyes,
#sureno,
#sureyestodo,
#surenotodo {
	margin-left: 20px;
	border: 0;
	padding: 10px 20px 10px 20px;
	cursor: pointer;
	font-size: 1rem;
	font-weight: 600;
	border-radius: 6px;
	transition-duration: 0.5s;
}

.dialog-btn>button:hover {
	box-shadow: 0 12px 16px 0 rgba(71, 71, 71, 0.24), 0 17px 30px 0 rgba(0, 0, 0, 0.19);
}

.prio > label, .prio > input {
	cursor: pointer;
	
}

.dialog-row > input, 
.prio-row
 {
	border-radius: 10px;
	background-color: #f0f0e7;
	border: 0;
	padding: 10px;
	width: 100%;
	
 }

 .project-row {
	display: flex;
	justify-content: space-between;
	border: 1px solid red;
	border-radius: 10px;
	background-color: #f0f0e7;
	border: 0;
	padding: 10px;

 }

#project {
	border: 0;
	background-color: white;
	border-radius: 5px;
	font-size: 1rem;
	padding: 10px;
}

 fieldset {
	width: 100%;
	margin-right: 20px;
 }
.prio-row {
	display: flex;
	padding: 10px;
	justify-content: space-between;
}

#title  {
	font-size: 1.5rem;
	border-radius: 10px;
	background-color: #f0f0e7;
	border: 0;
	padding: 10px;


}

#headerimage {
	width: 60px;
}
.right-container-header {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2rem;	
	gap: 30px;
	font-weight: 600;
	height: 10%;
	background-color: white;
	border-bottom: 2px solid #000053;
	
}

.right-container-body {
	margin: 20px 0px 00px 20px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(100px, 300px));
	gap: 60px;
}

.todoitem {
	background: linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: 300px;
	border: 2px solid #000053;
	padding: 10px;
	border-radius: 5%;
	box-shadow: 10px 10px 15px -10px rgba(0, 0, 0, 0.75);	
	padding: 20px 20px 20px 20px;
}

.todo-hr {
	width: 80%;
	border: 1px solid #000053;
	align-self: center;
}
.todo-header {
	align-self: center;
	font-size: 1.5rem;
	
}

.btn-delete-todo,
.btn-edit-todo {
	height: 40px;
	cursor: pointer;
	transition: 0.5s;
}

.btn-delete-todo:hover,
.btn-edit-todo:hover,
#surenotodo:hover,
#sureyestodo:hover {
	box-shadow: 0 12px 16px 0 rgba(71, 71, 71, 0.24), 0 17px 30px 0 rgba(0, 0, 0, 0.19);

}

.btn-todo-wrapper {
	margin-top: 15px;
	display: flex;
	justify-content: start;
	gap: 10px;
}